/* templete color */
.bg-primary-color{
    background-color: $primary-color;
}
.primary-color{
    color: $primary-color;
}
.bg-secondary-color{
    background-color: $secondary-color;
}
.secondary-color{
    color: $secondary-color;
}
.bg-yellow-color{
    background-color: $yellow-color;
}
.yellow-color{
    color: $yellow-color;
}